body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.description {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.chat-window {
    border: 1px solid #e1e1e1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.output {
    overflow-y: auto;  /* Allow vertical scrolling */
    overflow-x: hidden;  /* Hide horizontal scrolling */
    white-space: pre-wrap;  /* Wraps text and preserves new lines */
    word-wrap: break-word;  /* Break words to next line */
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.status, .instructions {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #333;
}

.input {
    padding: 20px;
}

.custom-file-upload label {
    display: flex;
    align-items: center;  
    margin-right: 15px;  /* Adds right margin */
    margin-bottom: 10px;  /* Adds bottom margin */  
}

.file-input {
    display: none;
}

button {
    /* Your custom styles for the button */
    margin-right: 10px;
}

/* Hide camera input by default */
.camera-input {
    display: none;
}

/* Show camera input on mobile devices */
@media only screen and (max-width: 600px) {
    .camera-input {
        display: inline-block;
        margin-right: 15px;  /* Adds right margin */
        margin-bottom: 10px;  /* Adds bottom margin */
    }
}

.submit-button {
    padding: 12px 24px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.copy-button {
    padding: 8px;
    background-color: #cccccc;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 15px;  /* Adds right margin */
    margin-bottom: 10px;  /* Adds bottom margin */  
}

.copy-button:hover {
    background-color: #e1e1e1;
}

/* CSS for Responsive Design */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    /* Additional responsive styles */
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 10px;  /* Adds bottom margin */  
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

