<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/apple-touch-icon.png?v=1693267225333">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/favicon-32x32.png?v=1693267242292">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/favicon-16x16.png?v=1693267233795">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Open Graph Tags for Social Media Sharing -->
    <meta property="og:title" content="Para Casa Inclusivo">
    <meta property="og:description" content="Adapte atividades escolares em segundos com Chatgpt!">
    <meta property="og:image" content="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/Open%20Graph%20-%20Para%20Casa%20Inclusivo.png?v=1693268068701">
    <meta property="og:url" content="https://www.paracasainclusivo.com.br">
    <meta property="og:type" content="website">  
    <title>PARA CASA INCLUSIVO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/Logo%20-%20Para%20Casa%20Inclusivo.png?v=1693099004477" alt="PARA CASA INCLUSIVO Logo" class="logo">
        </div>
        <div class="description">
            <h2>Adapte atividades escolares em segundos com Chatgpt</h2>
            <ul class="key-adaptations">
                <li><span class="icon">&#128172;</span> Linguagem simples</li>
                <li><span class="icon">&#128515;</span> Emojis ilustrativos</li>
                <li><span class="icon">&#128444;</span> Imagens de apoio</li>
                <li><span class="icon">&#128288;</span> CAIXA ALTA</li>
                <li><span class="icon">&#11088;</span> Destaques em <strong>negrito</strong></li>
                <li><span class="icon">&#128221;</span> Redução sem perder contexto</li>
                <li><span class="icon">&#127912;</span> Adaptações customizadas</li>
            </ul>
        </div>
        <div class="instructions">
            <p>Envie o PDF ou uma foto da Atividade Escolar e clique em Adaptar!</p>
        </div>
        <div id="status" class="status">
          <div id="status-text" class="status-text"></div>
          <div id="spinner" class="spinner" style="display:none">
              <div class="loader"></div>
          </div>      
        </div>  
        <div class="chat-window">
            <div class="output" id="result"></div>
            <!-- Copy to Clipboard Button -->
            <button id="copyButton" class="copy-button" style="display:none">Copiar Texto</button>
            <!-- This is the new button for searching for support images -->
            <button id="searchImagesButton" class="image-button" style="display:none">Buscar Imagens de Apoio</button>          
            <div id="supportImages" class="image-container"></div>
            <div class="input">
                <form id="uploadForm">
                  <div class="custom-file-upload">
                      <label>
                          <input type="file" id="fileInput" name="file" class="file-input" accept=".jpg,.jpeg,.png,.pdf" required>
                          <button type="button" onclick="document.getElementById('fileInput').click();">Escolha um arquivo</button>
                          <span id="fileLabel">Envie uma imagem ou PDF</span>
                      </label>
                  </div>

                  <div class="custom-file-upload camera-input">
                      <label>
                          <input type="file" id="cameraInput" name="camera" class="file-input" accept="image/*" capture="camera">
                          <button type="button" onclick="document.getElementById('cameraInput').click();">Tire uma foto</button>
                          <span id="cameraLabel">Envie uma foto da atividade</span>
                      </label>
                  </div>
                  <button type="submit" class="submit-button">Adaptar</button>
                </form>
            </div>
        </div>
        <div class="about-section">
            <h2 class="about-title">Sobre o PARA CASA INCLUSIVO</h2>
            <p class="about-version"><strong>Versão:</strong> 0.3</p>
            <hr>
            <p class="about-description">
                PARA CASA INCLUSIVO é uma ferramenta que coloca a Inteligência Artificial e o ChatGPT à serviço da inclusão!
            </p>
            <p class="about-purpose">
                Criado para ajudar educadores e equipes pedagógicas a adaptar Atividades Escolares de acordo com diversas necessidades de aprendizado.
            </p>
            <p class="about-target">
                Se você é uma professora procurando tornar as atividades mais inclusivas, um mediador ou parte de uma equipe pedagógica trabalhando com uma criança atípica, o PARA CASA INCLUSIVO está aqui para ajudar!
            </p>
            <h3 class="about-versions-title">Versões disponíveis:</h3>
            <ul class="about-versions-list">
                <li>&#x1F4F1; <strong>Fácil de Incluir (Este Site):</strong> Faça upload de uma imagem ou PDF, e nossa tecnologia adaptará o material educacional em tempo real utilizando visão computacional em conjunto com GPT-4.</li>
                <li>&#x1F916; <strong><a href="https://chat.openai.com/share/876b4883-6242-4028-9a16-af62b5cc5701" target="_blank" rel="noopener noreferrer">Versão Completa do ChatGPT para GPT-4:</a></strong> Utiliza a mais recente tecnologia GPT-4 para oferecer adaptações mais abrangentes e personalizadas. (necessário assinar o ChatGPT Plus)</li>
                <li>&#x1F916; <strong><a href="https://chat.openai.com/share/174c02bf-4f98-453c-a412-0c5d0492929a" target="_blank" rel="noopener noreferrer">Versão Simplificada para GPT-3.5:</a></strong> Oferece adaptações básicas usando GPT-3.5. (100% gratuito)</li>
             </ul>
            <h3 class="about-contribution-title">Contribuição:</h3>
            <p>Mais do que um projeto open source, é um convite à colaboração! Vamos juntar nossas forças, experiências e conhecimentos para promover uma educação cada vez mais inclusiva.</p>
            <p><a href="https://github.com/luciocs/para-casa-inclusivo" target="_blank" rel="noopener noreferrer">Acesse nosso GitHub!</a></p>
            <p>Compartilhe com a escola de seu filho e com todas as famílias que poderiam se beneficiar desta iniciativa!</p>
            <h3 class="about-license-title">Licença:</h3>
            <p>Este projeto está licenciado sob a <a href="https://github.com/luciocs/para-casa-inclusivo/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Licença MIT.</a></p>
            <hr>
            <blockquote class="about-statement">
                "O mundo precisa de todo tipo de mentes." - Temple Grandin
            </blockquote>
            <p class="about-empower">
                Empodere a educação com adaptações personalizadas usando o PARA CASA INCLUSIVO!
            </p>
        </div>      
    </div>
    <div id="imageModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modalImage">
    </div>  
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>