<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F766M8B8JN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F766M8B8JN');
    </script>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/apple-touch-icon-2.png?v=1697403827425">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/favicon-32x32-2.png?v=1697403822592">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/73e7c968-18cd-44ab-9bde-50ed36955258/favicon-16x16-2.png?v=1697403818432">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Open Graph Tags for Social Media Sharing -->
    <meta property="og:title" content="Para Casa Inclusivo">
    <meta property="og:description" content="Adapte atividades escolares em segundos!">
    <meta property="og:image" content="https://blobparacasa.blob.core.windows.net/stability-images/Open%20Graph%20-%20Para%20Casa%20Inclusivo%20-%202.png?sp=r&st=2023-10-18T21:08:48Z&se=2025-10-31T05:08:48Z&spr=https&sv=2022-11-02&sr=b&sig=c49r4W38baHALAH2eLx%2BYsr0kC%2B%2BopC0MMfr%2FdUjygo%3D">
    <meta property="og:url" content="https://www.paracasainclusivo.com.br">
    <meta property="og:type" content="website">  
    <title>PARA CASA INCLUSIVO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://blobparacasa.blob.core.windows.net/stability-images/para-casa-inclusivo-logo.png?sp=r&st=2023-10-18T21:11:14Z&se=2025-10-31T05:11:14Z&spr=https&sv=2022-11-02&sr=b&sig=JtIYoUHCfznVXwZMD7Xcl65GBA%2B%2Bwe5J0W95tSgkJ2c%3D" alt="PARA CASA INCLUSIVO Logo" class="logo">
        </div>
        <div class="description">
            <h2>Adapte atividades escolares em segundos</h2>
            <ul class="key-adaptations">
                <li><span class="icon">&#128172;</span> Linguagem simples</li>
                <li><span class="icon">&#128515;</span> Emojis ilustrativos</li>
                <li><span class="icon">&#128444;</span> Imagens de apoio</li>
                <li><span class="icon">&#128288;</span> CAIXA ALTA</li>
                <li><span class="icon">&#11088;</span> Destaques em <strong>negrito</strong></li>
                <li><span class="icon">&#128221;</span> Redução sem perder contexto</li>
                <li><span class="icon">&#127912;</span> Crie um Gibi da Atividade</li>
            </ul>
        </div>
        <div class="instructions">
            <p>Envie o PDF ou uma foto da Atividade Escolar e clique em Adaptar!</p>
        </div>
        <div id="status" class="status">
          <div id="status-text" class="status-text"></div>
          <div id="spinner" class="spinner" style="display:none">
              <div class="loader"></div>
          </div>      
        </div>  
        <div class="chat-window">
            <div class="output" id="result" style="display:none" tabindex="-1"></div>
            <!-- Feedback Section -->
            <div id="feedback-section" class="feedback" style="display:none">
              <p>Essa adaptação foi útil?</p>
              <button id="thumbs-up" class="feedback-button" aria-label="Thumbs Up">&#128077;</button> <!-- 👍 -->
              <button id="thumbs-down" class="feedback-button" aria-label="Thumbs Down">&#128078;</button> <!-- 👎 -->
              <!-- Text input for additional feedback -->
              <div id="additional-feedback" class="additional-feedback" style="display:none;">
                <textarea id="feedback-text" placeholder="Nos ajude a melhorar o Para Casa Inclusivo! Conte pra gente como você tem utilizado. Que tipo de atividade está adaptando? Para crianças de qual série/idade? Quais os desafios de aprendizado das crianças?"></textarea>
                <button id="submit-feedback" class="submit-feedback">Enviar feedback</button>
              </div>
            </div>
            <div id="actions" class="actions" style="display:none">
              <p>Como você gostaria de utilizar essa adaptação?</p>
              <button id="copyButton" class="copy-button">Copiar Texto</button>
              <button id="whatsappShareButton" class="wpp-button">Compartilhar no WhatsApp</button>
              <button id="generateImagesButton" class="image-button">Criar Imagens de Apoio com IA</button>          
              <button id="generateComicButton" class="comic-button">Criar Gibi com IA</button> 
              <button id="newAdaptationButton" class="new-button">Nova Adaptação</button> 
              <div id="theme-change-container">
                  <button id="changeButton" class="change-theme-button">Alterar Tema da Atividade</button>
                  <input type="text" id="newThemeInput" placeholder="Digite o novo tema aqui" aria-label="Novo Tema">
              </div>
            </div>
            <div id="supportImages" class="image-container" style="display:none"></div>
            <div id="comicContainer" class="comic-window"></div>
            <button id="printComicBook" class="print-button" style="display:none">Imprimir Gibi</button>          
            <div id="adaptation-input" class="input">
                <form id="uploadForm">
                  <div class="custom-file-upload">
                      <label>
                          <input type="file" id="fileInput" name="file" class="file-input" accept=".jpg,.jpeg,.png,.pdf" multiple>
                          <button type="button" onclick="document.getElementById('fileInput').click();" class="file-button">Escolha um arquivo</button>
                          <span id="fileLabel">Imagem ou PDF da Atividade (máximo: 4MB)</span>
                      </label>
                  </div>

                  <div class="custom-file-upload camera-input">
                      <label>
                          <input type="file" id="cameraInput" name="camera" class="file-input" accept="image/*" capture="camera" multiple>
                          <button type="button" onclick="document.getElementById('cameraInput').click();" class="file-button">Tire uma foto</button>
                          <span id="cameraLabel">Foto da Atividade</span>
                      </label>
                  </div>
                  <button type="submit" class="submit-button">Adaptar</button>
                </form>
            </div>
        </div>
        <!-- Tutorial Video Section -->
        <div class="tutorial-section">
            <h2 class="tutorial-title">Como Usar o Para Casa Inclusivo</h2>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3MxGlOyRSp8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- Carousel Section -->
        <div id="examples" class="examples">
          <h3>Exemplos de atividades adaptadas</h3>
          <div class="carousel">
            <div class="carousel-wrapper">
              <div class="carousel-item">
                <img src="https://blobparacasa.blob.core.windows.net/stability-images/Example-7.png?sp=r&st=2023-10-18T21:12:26Z&se=2025-10-31T05:12:26Z&spr=https&sv=2022-11-02&sr=b&sig=wAzLXnBZaXBQUr9PZR3swqihnUh4c4az0IegW9yX2j4%3D" alt="Example 1">
              </div>
              <div class="carousel-item">
                <img src="https://blobparacasa.blob.core.windows.net/stability-images/Example-8.png?sp=r&st=2023-10-01T13:50:02Z&se=2025-01-10T21:50:02Z&spr=https&sv=2022-11-02&sr=b&sig=nfaVH8wv6qSg%2Fw22VKpsvjFl8dG8dOn9Ncr5UW3JAZY%3D" alt="Example 2">
              </div>
              <div class="carousel-item">
                <img src="https://blobparacasa.blob.core.windows.net/stability-images/Example-9.png?sp=r&st=2023-10-18T21:13:15Z&se=2025-10-31T05:13:15Z&spr=https&sv=2022-11-02&sr=b&sig=5DAxeh4Fthk%2FAoUG3uWjDMCWSiS9Cf0oN8QWT0EWwpE%3D" alt="Example 3">
              </div>
              <div class="carousel-item">
                <img src="https://blobparacasa.blob.core.windows.net/stability-images/Example-10.png?sp=r&st=2023-10-01T13:52:24Z&se=2025-01-10T21:52:24Z&spr=https&sv=2022-11-02&sr=b&sig=tja2oRMrZd9IwZkk9mw9qcyl3K%2F15pnCUJRXw2XlVlQ%3D" alt="Example 4">
              </div>
              <div class="carousel-item">
                <img src="https://blobparacasa.blob.core.windows.net/stability-images/Example-11.png?sp=r&st=2023-10-01T13:54:01Z&se=2025-01-10T21:54:01Z&spr=https&sv=2022-11-02&sr=b&sig=8K6pdAzmQuger3c4uG3PINU23hupx7rjykzF%2BMhI34o%3D" alt="Example 5">
              </div>
            </div>
          </div>
          <div class="button-wrapper">
            <button id="prevBtn">Anterior</button>
            <button id="nextBtn">Próximo</button>
          </div>
        </div>      
        <!-- Manifesto Video Section -->
        <div class="tutorial-section">
            <h2 class="tutorial-title">Manifesto sobre Neurodiversidade e Inteligência Artificial</h2>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WBZAhDPsqdg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="about-section">
            <h2 class="about-title">Sobre o Para Casa Inclusivo</h2>
            <p class="about-version"><strong>Versão:</strong> 0.5</p>
            <hr>
            <p class="about-description">
                PARA CASA INCLUSIVO é uma ferramenta que coloca a Inteligência Artificial à serviço da inclusão!
            </p>
            <p class="about-purpose">
                Criado para ajudar educadores e equipes pedagógicas a adaptar Atividades Escolares de acordo com diversas necessidades de aprendizado.
            </p>
            <p class="about-target">
                Se você é uma professora procurando tornar as atividades mais inclusivas, um mediador ou parte de uma equipe pedagógica trabalhando com uma criança atípica, o PARA CASA INCLUSIVO está aqui para ajudar!
            </p>
            <h3 class="about-contribution-title">Contribuição:</h3>
            <p>Mais do que um projeto open source, é um convite à colaboração! Vamos juntar nossas forças, experiências e conhecimentos para promover uma educação cada vez mais inclusiva.</p>
            <p><a href="https://github.com/luciocs/para-casa-inclusivo" target="_blank" rel="noopener noreferrer">Acesse nosso GitHub!</a></p>
            <p>Compartilhe com a escola de seu filho e com todas as famílias que poderiam se beneficiar desta iniciativa!</p>
            <p><a href="https://www.instagram.com/paracasainclusivo/" target="_blank" rel="noopener noreferrer">Compartilhe nosso Instagram!</a></p>
            <h3 class="about-license-title">Licença:</h3>
            <p>Este projeto está licenciado sob a <a href="https://github.com/luciocs/para-casa-inclusivo/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Licença MIT.</a></p>
            <hr>
            <blockquote class="about-statement">
                "O mundo precisa de todo tipo de mentes." - Temple Grandin
            </blockquote>
            <p class="about-empower">
                Empodere a educação com adaptações personalizadas usando o PARA CASA INCLUSIVO!
            </p>
        </div>      
    </div>
    <div class="footer">      
    </div>
    <div id="imageModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modalImage">
    </div>  
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>